<a href="#/games">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Game</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="addGame()">
        <div class="form-group">
          <label>Add a Game</label>
          <input type="text" class="form-control" ng-model="game.title" placeholder="Title">
        </div>
        <div class="form-group">
          <label>Game Genre</label>
          <select ng-model="game.genre" class="form-control">
            <option value="Suspense">RPG</option>
            <option value="Drama">FPS</option>
            <option value="Romance">MMO</option>
            <option value="NonFiction">MOBA</option>
            <option value="Other">RACING</option>
          </select>
        </div>
        <div class="form-group">
          <label>Author</label>
          <input type="text" class="form-control" ng-model="game.author" placeholder="Author">
        </div>
        <div class="form-group">
          <label>Publisher</label>
          <input type="text" class="form-control" ng-model="game.publisher" placeholder="Publisher">
        </div>
        <div class="form-group">
          <label>Pages</label>
          <input type="text" class="form-control" ng-model="game.pages" placeholder="Pages">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" ng-model="game.description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <label>Image URL</label>
          <input type="text" class="form-control" ng-model="game.image_url" placeholder="Image URL">
        </div>
        <div class="form-group">
          <label>Buy URL</label>
          <input type="text" class="form-control" ng-model="game.buy_url" placeholder="Buy URL">
        </div>
       
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>