<a href="#/games">Go Back</a>
<div class="panel panel-default" ng-init="getGame()">
  <div class="panel-heading">
    <h3 class="panel-title">{{game.title}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img src="{{game.image_url}}">
      </div>
      <div class="col-md-8">
        </p>{{game.description}}</p>
        <ul class="list-group">
          <li class="list-group-item">Genre: {{game.genre}}</li>
          <li class="list-group-item">Author: {{game.author}}</li>
          <li class="list-group-item">Publisher: {{game.publisher}}</li>
          <li class="list-group-item">Pages: {{game.pages}}</li>
        </ul>
        <a target="_blank" href="{{game.buy_url}}" class="btn btn-primary">Buy on Amazon</a>
      </div>
    </div>
  </div>
</div>

<div class="pull-right">
  <a href="#/games/edit/{{game._id}}">Edit</a> |  <a href="#" ng-click="removeGame(game._id)">Delete</a>
  </div>